
@font-face {
    font-family: Archivo;
    src: url(./Resources/ArchivoBlack-Regular.ttf);
}


html{
    font-size: 16px;
}


body {
    background-color: rgb(6, 6, 6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header {
    background-color: cornflowerblue;
    text-align: center;
}



h1 {
    color: black;
    font-family: Archivo;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.2rem;
}


ul {
    text-align: center; 
}


li {
display: inline-block;
padding-right: 15px;
}


a {
    color: cornflowerblue;
    text-decoration: none;
}


nav a:hover {
     border-top: 4px solid;
}



main {
    margin-left: 300px;
}



#about, #projects, #skills, #contact, footer {
    margin-top: 70px;
}


.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }


.about-text {
    width: 500px;
    line-height: 1.5rem;
}



.about-image {
    margin-right: 300px;
}



h2 {
color:cornflowerblue;
}



p, h3, h4, span {
color: white; 
text-align: justify;
}



h3:hover {
    text-decoration: underline;
    cursor: pointer;
}    



#projects img {
    border: 2px solid white;
}



#projects p {
    width: 500px;
    line-height: 1.4rem;
}



.drumming, .details {
    margin-top: 40px;
}


#drumming-content, #message-content {
    display: none;
}


#skills img {
    margin: 10px;
}


#skills {
    margin-bottom: 60px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    padding: 8px 0;
}




@media screen and (max-width: 1400px) {
    main {
        margin-left: 40px;
    }   

}



@media screen and (max-width: 1150px) {
    
    .about-content { 
        display: block;
    }

}