
html{
    font-size: 16px;
}


body {
background-color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
background-color: cornflowerblue;
text-align: center;
}

h1 {
color: black;
}


ul {
    text-align: center; 
}


li {
display: inline-block;
padding-right: 15px;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}


a:hover {
    text-decoration: overline;
    text-decoration-line: overline;
    border-top: 4px solid;
}

#about {
    display: inline-flex;
}

h2 {
color:cornflowerblue;
}


main p, h3, span {
color: white; 
}

p {
    text-align: justify;
}