
html{
    font-size: 16px;
}


body {
background-color: rgb(6, 6, 6);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
background-color: cornflowerblue;
text-align: center;
}

h1 {
color: black;
}


ul {
    text-align: center; 
}


li {
display: inline-block;
padding-right: 15px;
}


a {
    color: cornflowerblue;
    text-decoration: none;
}


a:hover {
    text-decoration: overline;
    text-decoration-line: overline;
    border-top: 4px solid;
}

main, footer {
    margin-left: 300px;
}


#about, #projects, #skills, footer {
    margin-top: 70px;
}


.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }


.about-text {
    width: 500px;
}


.about-image {
    margin-right: 300px;
}



h2 {
color:cornflowerblue;
}


main p, h3, span {
color: white; 
}


p {
    text-align: justify;
}


#projects img {
    border: 2px solid white;
}


#projects p {
    width: 500px;
}


.drumming, .my-message {
    margin-top: 40px;
}

#skills img {
    margin: 10px;
}